:root {
    // COLOURS
    --color-primary: #11698e;
    --color-primary-light: #19456b;
    --color-primary-dark: #1c5043;

    --color-primary-contrast: #f8f1f1;

    --color-border-light: #1bee02;

    --color-text-lighter: #e2ca73;
    --color-text-light: #0da735;
    --color-text-dark: #275e55;
    --color-text-darkest: rgb(37, 39, 48);

    --color-border-light: #aeabab;

    --color-text-admin: #252e47;

    --color-navbar: #387fa2;
    --color-navbar-text: rgb(7, 202, 186);

    --color-footer-light: #e1551e;
    --color-footer-dark: #175633;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    // BOX SHADOW
    --text-shadow-dark: 1rem 1rem rgb(13 11 11, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    // BORDER
    --line: 1px solid var(--color-grey-light-2);
}

// FUNCTION COLOURS

$color-primary: #11698e;
$color-primary-light: #19456b;
$color-primary-dark: #16c79a;
$color-mobile-dark: #1a4a91;
$color-transparent-light: rgba(228, 241, 45, 0.76);
$color-transparent-dark: rgba(218, 172, 21, 0.82);

// @MEDIA
$desktop-lg: 112.5em; // 1800
$desktop: 100em; // 1600
$desktop-sm: 90em; // 1440
$tablet-land: 75em; // 1200
$tablet-lg: 68.75em; // 1100
$tablet: 56.25em; // 900
$tablet-sm: 48.5em; //776
$mobile: 37.5em; // 600
$mobile-sm: 31.25em; // 500
$mobile-extra-sm: 24em; // 360
