.search-box {
    border-radius: 4px;
    background-color: var(--color-primary-transparent);
}

.home-page {
    &--header {
        //background-image: url("./public/assets/header-1.jpg");
        background-image: url("./public/assets/header-1.jpg");
    }
}
