.search-box {
    border-radius: 4px;
    background-color: var(--color-primary-transparent);
}

.home-page {
    &--header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../../public/assets/header-3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 550px;
    }
}

.fresh-postings {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
