@import "../../sass/variables";

.modals {
  z-index: 1000;
  position: fixed;
  top: 22vh;
  left: 23vw;
  width: 54vw;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  border-radius: 3rem;
  overflow: hidden;
  @media screen and (max-width: $mobile) {
    top: 4vh;
  }
  &__header {
    height: 2rem;
    width: 100%;
    padding: 1rem 0.5rem;
    color: white;
    & h2 {
      margin: 0.5rem;
    }
  }

  &__content {
    padding: 1rem 0.5rem;
  }
  &__footer {
    padding: 1rem 0.5rem;
  }
}

.modal {
  &--opening {
    width: 30vw;
    left: 35vw;

    @media screen and (max-width: $tablet-land) {
      width: 40vw;
      left: 30vw;
    }
    @media screen and (max-width: $tablet) {
      width: 50vw;
      left: 25vw;
    }
    @media screen and (max-width: $mobile) {
      width: 80vw;
      top: 4vh;
      left: 10vw;
      z-index: 1001; //to be on top of the navbar button
    }
  }
  &__content {
    & .opening-item {
      display: flex;
      justify-content: flex-end;
      width: 99%;
      margin: 1rem auto;
      position: relative;
      & .input-control {
        margin: 0.5rem 0.4rem;
      }
      @media screen and (max-width: $mobile) {
        margin: 0 auto;
      }

      & label {
        font-size: 2rem;

        position: absolute;
        left: 0;
        display: inline-block;

        @media screen and (max-width: $mobile-extra-sm) {
          font-size: 1.7rem;
        }
      }
    }
    width: 95%;
    margin: auto;
    & input {
      height: 4rem;
      font-size: 1.3rem;

      display: inline-block;
      overflow: hidden;
      border-radius: 10px;
    }
    & textarea {
      font-size: 1.3rem;
    }
    & button {
      font-size: 1.65rem;
      margin: 2rem auto 0;
    }
    /*     & .error-text {
      display: none;
    } */
  }
  &__header {
    background-color: var(--color-primary-light);
    & h2 {
      color: var(--color-grey-light-2);
    }
  }
}

.modal--about {
  width: 30vw;
  left: 35vw;
  @media screen and (max-width: $tablet-land) {
    width: 40vw;
    left: 30vw;
  }
  @media screen and (max-width: $tablet) {
    width: 50vw;
    left: 25vw;
  }
  @media screen and (max-width: $mobile) {
    width: 70vw;
    left: 15vw;
    top: 4vh;
    z-index: 1001; //to be on top of the navbar button
  }
  @media screen and (max-width: $mobile-sm) {
    width: 90vw;
    left: 5vw;
  }
  .modal {
    &__content {
      width: 85%;
      margin: auto;
      & label {
        font-size: 2rem;
      }
      & input {
        height: 4rem;
        font-size: 1.3rem;
      }
      & textarea {
        font-size: 1.3rem;
      }
      & button:nth-child(4) {
        font-size: 1.65rem;
        margin: 2rem auto 0;
      }
    }
    &__header {
      background: #2a4485;
    }
    & button {
      background: #2a4485;
    }
  }
}

.modal--edit {
  @media screen and (max-width: $mobile) {
    width: 70vw;
    left: 15vw;
    top: 4vh;
    z-index: 1001; //to be on top of the navbar button
  }
  @media screen and (max-width: $mobile-sm) {
    width: 90vw;
    left: 5vw;
  }
  &__content {
    font-size: 2rem;
  }
}

.modal--auth {
  width: 32vw;
  left: 34vw;
  @media screen and (max-width: $tablet-lg) {
    width: 50vw;
    left: 25vw;
    top: 13vh;
    z-index: 1001; //to be on top of the navbar button
  }
  @media screen and (max-width: $mobile) {
    width: 90vw;
    left: 5vw;
    top: 4vh;
    z-index: 1001; //to be on top of the navbar button
  }
  .modal {
    &__header {
      background-color: #298412;
    }
    &__content {
      font-size: 2rem;
      & input {
        width: 80%;
        margin: auto;
      }
    }
  }
}

.modal--news {
  top: 9vh;
  width: 30vw;
  left: 35vw;
  @media screen and (max-width: $tablet-land) {
    width: 40vw;
    left: 30vw;
  }
  @media screen and (max-width: $tablet) {
    width: 50vw;
    left: 25vw;
  }
  @media screen and (max-width: $mobile) {
    overflow: scroll;
    height: 77vh;
    width: 70vw;
    left: 15vw;
    top: 4vh;
    z-index: 1001; //to be on top of the navbar button
  }
  @media screen and (max-width: $mobile-sm) {
    width: 90vw;
    left: 5vw;
  }

  .modal {
    &__content {
      width: 85%;
      margin: auto;
      & label {
        font-size: 2rem;
      }
      & input {
        height: 4rem;
        font-size: 1.3rem;
      }
      & textarea {
        font-size: 1.3rem;
      }
      & button:nth-child(4) {
        font-size: 1.65rem;
        margin: 2rem auto 0;
      }
    }
    &__header {
      background: #75c22e;
    }
    & button {
      background: #75c22e;
    }
  }
}

//CSS TRANSITION
.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: transform 200ms;
}

// DATE PICKER MODAL.(not in use but might be down the line.)

.date-picker__modal {
  width: unset;
  display: inline;
  left: 40%;
}

.date-picker__modal .modal__content {
  padding: 0;
  background-color: rgb(171, 202, 171);
}

.date-picker__modal .modal__header,
.date-picker__modal .modal__footer {
  background-color: rgb(49, 130, 133);
}

.date-picker__modal .modal__header h2 {
  margin: 0;
}

.date-picker__modal .modal__footer {
  padding: 0.7rem;
}

@media (max-width: 1150px) {
  .date-picker__modal {
    left: 35%;
  }
}

@media (max-width: 859px) {
  .modals {
    width: 60vw;
    left: 20vw;
  }
}

@media (max-width: 775px) {
  .date-picker__modal {
    left: 25%;
  }
}

@media (max-width: 700px) {
  .password-change__modal {
    left: 19vw;
  }
}

@media (max-width: 600px) {
  .modals {
    width: 84vw;
    left: 8vw;
  }
}

@media (max-width: 575px) {
  .date-picker__modal {
    left: 18%;
  }
}

@media (max-width: 475px) {
  .date-picker__modal {
    left: 0;
    width: 100%;
  }
}
