@import './spinner/spinner.scss';
@import './modal/modal.scss';
@import './modal/backdrop.scss';
@import './buttons/button.scss';
@import './icons/icons.scss';
@import './navigation/navbar';


.hr {
    &--normal {
        border-bottom: 1.5px solid #C3C9D5;
        width: 100%;
    }

    &--light {
        border-bottom: 1.5px solid #E1E4EA;
        width: 100%;
    }

    &--vertical {
        border-right: 1.5px solid #E1E4EA;
    }

}

.box-wrapper {
    border: 1.5px solid var(--color-border);
}

.box-wrapper-edit-icon {
    position: absolute;
    right: 23px;
}
